.WeatherCard {
  align-self: flex-start;
  background: #fdfcfc;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6875rem;
  width: 25rem;
  padding: 1rem 2rem;
  cursor: pointer;
  .WeatherCard__city,
  .WeatherCard__temp {
    text-align: center;
    color: #2c2c2c;
    font-weight: 500;
  }
  .WeatherCard__city {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
  .WeatherCard__temp {
    font-size: 4rem;
    line-height: 4.6875rem;
  }
  .WeatherCard__something,
  .WeatherCard__about {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #bfaf1b;
  }
}
.mb {
  margin-bottom: 2rem;
}

//KeyValueCard
.KeyValueCard {
  .KeyValueCard__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #5a5a5a;
  }
  .KeyValueCard__value {
    font-size: 1.6875rem;
    line-height: 2rem;
    font-weight: 700;
    color: #535353;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .WeatherCard {
    width: 70vw;
    background: none;
    box-shadow: none;
    font-family: "Poppins", sans-serif !important;
    .WeatherCard__btn {
      display: none;
    }
    .WeatherCard__city,
    .WeatherCard__temp {
      font-weight: 600;
    }
  }
  .KeyValueCard {
    .KeyValueCard__title,
    .KeyValueCard__title {
      font-weight: 500;
    }
    .KeyValueCard__title {
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #c4c4c4;
    }
    .KeyValueCard__value {
      font-size: 0.9375rem;
      line-height: 1.375rem;
      text-align: center;
      color: #9a9a9a;
    }
  }
}
